---
import Carpet from "public/svg/carpet.svg";
import Instructor from "public/svg/instructor.svg";
import Procedencia from "public/svg/procedencia.svg";
import Modal from "@/components/Modal.astro";
import AddIcon from "public/svg/add-icon.svg";
import DeleteIcon from "public/svg/delete-icon.svg";
import { ACTIONS } from "@/data/button";

const iconComponents: Record<string, any> = {
  IconProcedencia: Procedencia,
  IconInstructor: Instructor,
  IconCarpet: Carpet,
}
---

<div class="flex flex-wrap gap-4 p-4">
  {ACTIONS.map(({ id, label, icon, colorClass }) => {
    const Icon = iconComponents[icon];
    return (
      <button class={`btn text-white shadow-lg transition-all duration-300 ${colorClass}`} data-target={id}>
        <Icon class="size-5" />
      {label}
    </button>
  )})}

  <!-- Button Agregar Carpeta -->
  <button class="btn text-white shadow-lg transition-all duration-300 btn-warning border-warning shadow-warning/20 hover:shadow-warning/40" data-target="modal_carpet">
  <Carpet class="size-5" />
      Agregar Carpetas
  </button>
</div>

{ACTIONS.map(({ id }) => {
  const isProcedencia = id === "modal_procedencia";
  const actionLabel = isProcedencia ? "Procedencia" : "Instructor";
  return(
    <Modal id={id}>
      <div class="flex flex-col gap-6">
            {/* BOTÓN AGREGAR */}
            <button class="cursor-pointer group flex flex-col items-center justify-center p-6 rounded-xl border-2 border-success/30 bg-success/5 hover:bg-success/10 hover:border-success transition-all duration-300 gap-3">
              <div class="p-3 rounded-full bg-success/20 group-hover:scale-110 transition-transform">
                <AddIcon class="size-8 text-success"/>
              </div>
              <span class="font-bold uppercase tracking-tighter text-sm text-success">Agregar {actionLabel}</span>
            </button>

            {/* BOTÓN ELIMINAR */}
            <button class="group flex flex-col items-center justify-center p-6 rounded-xl border-2 border-error/30 bg-error/5 hover:bg-error/10 hover:border-error transition-all duration-300 gap-3">
              <div class="p-3 rounded-full group-hover:scale-110 transition-transform">
                <DeleteIcon class="size-8 text-error"  />
              </div>
              <span class="font-bold uppercase tracking-tighter text-sm text-error">Eliminar {actionLabel}</span>
            </button>
          </div>
    </Modal>
    )
})}

<!--Agregar Carpeta / Formulario -->
<Modal id="modal_carpet">
  <div class="flex flex-col gap-6">
    <div class="space-y-1 text-center">
      <p class="text-gray-400 text-sm italic text-left">Gestión de carpetas fiscales y policiales.</p>
      <div class="h-0.5 w-16 bg-police/50"></div>
    </div>

    <button class="cursor-pointer group flex flex-col items-center justify-center p-6 rounded-xl border-2 border-warning/30 bg-warning/5 hover:bg-warning/10 hover:border-warning transition-all duration-300 gap-3">
      <div class="p-3 rounded-full bg-warning/20 group-hover:scale-110 transition-transform">
        <AddIcon class="size-8 text-warning"/>
      </div>
      <span class="font-bold uppercase tracking-tighter text-sm text-warning">Nueva Carpeta</span>
    </button>

    <button class="group flex flex-col items-center justify-center p-6 rounded-xl border-2 border-error/30 bg-error/5 hover:bg-error/10 hover:border-error transition-all duration-300 gap-3">
      <div class="p-3 rounded-full bg-error/20 group-hover:scale-110 transition-transform">
        <DeleteIcon class="size-8 text-error" />
      </div>
      <span class="font-bold uppercase tracking-tighter text-sm text-error">Eliminar Carpeta</span>
    </button>
  </div>
</Modal>

<script>
  const setupModals = () => {
    const modalButtons = document.querySelectorAll('.btn[data-target]');

    modalButtons.forEach(button => {
      button.addEventListener('click', () => {
        const targetId = button.getAttribute('data-target');
        if (!targetId) return;
        const modal = document.getElementById(targetId) as HTMLDialogElement;
        modal?.showModal();
      });
    });
  };

  window.addEventListener("keydown",(event) => {
      const activeModal = document.querySelector('dialog[open]') as HTMLDialogElement;
      
      if (event.key === "Escape" && activeModal) {
        event.preventDefault();
        event.stopImmediatePropagation();

        const activeElement = document.activeElement as HTMLInputElement | HTMLTextAreaElement;
        const isEditable = activeElement && (activeElement.tagName === "INPUT" || activeElement.tagName === "TEXTAREA");

        if (isEditable) {
          activeElement.value = "";
        }
      }
    },
    true, 
  );

  setupModals();
</script>