---
import Carpet from "public/svg/carpet.svg";
import InstructorIcon from "public/svg/instructor.svg";
import Procedencia from "public/svg/procedencia.svg";
import Modal from "@/components/Modal.astro";
import AddIcon from "public/svg/add-icon.svg";
import ViewIcon from "public/svg/eye-visibility.svg";
import DeleteIcon from "public/svg/delete-icon.svg";
import { ACTIONS } from "@/data/button";
import { db,Precedence,Instructor,Grade,Fiscal,eq } from "astro:db";

const iconComponents: Record<string, any> = {
  IconProcedencia: Procedencia,
  IconInstructor: InstructorIcon,
  IconCarpet: Carpet,
}

const listPrecedences = await db.select().from(Precedence)
const listInstructors = await db.select().from(Instructor).innerJoin(Grade, eq(Instructor.idGrade, Grade.idGrade))
const listGrades = await db.select().from(Grade)
const listFiscals = await db.select().from(Fiscal)
const listGenre = [{name: "Masculino"}, {name: "Femenino"}]
---

<div class="flex flex-wrap gap-4 p-4">
  {ACTIONS.map(({ id, label, icon, colorClass }) => {
    const Icon = iconComponents[icon];
    return (
      <button class={`btn text-white shadow-lg transition-all duration-300 ${colorClass}`} data-target={id}>
        <Icon class="size-5" />
      {label}
    </button>
  )})}

  <!-- Button Agregar Carpeta -->
  <button class="btn text-white shadow-lg transition-all duration-300 btn-warning border-warning shadow-warning/20 hover:shadow-warning/40" data-target="modal_carpet">
  <Carpet class="size-5" />
      Agregar Carpetas
  </button>
</div>

{ACTIONS.map(({ id }) => {
  const isProcedencia = id === "modal_procedencia";
  const isInstructor = id === "modal_instructor";
  const actionLabel = isProcedencia ? "Procedencia" : isInstructor ? "Instructor" : "Fiscal";
  const pluralActionLabel = isProcedencia ? "Procedencias" : isInstructor ? "Instructores" : "Fiscales";
  return(
    <Modal id={id} formClass="pt-6">
      <div class="flex flex-col gap-6">
            {/* BOTÓN AGREGAR */}
            <button class="cursor-pointer group flex flex-col items-center justify-center p-6 rounded-xl border-2 border-success/30 bg-success/5 hover:bg-success/10 hover:border-success transition-all duration-300 gap-3" data-target={`${id}_add`}>
              <div class="p-3 rounded-full bg-success/20 group-hover:scale-110 transition-transform">
                <AddIcon class="size-8 text-success"/>
              </div>
              <span class="font-bold uppercase tracking-tighter text-sm text-success">Agregar {actionLabel}</span>
            </button>

            {/* BOTÓN ELIMINAR */}
            <button class="cursor-pointer group flex flex-col items-center justify-center p-6 rounded-xl border-2 border-info/30 bg-info/5 hover:bg-info/10 hover:border-info transition-all duration-300 gap-3" data-target={`${id}_view`}>
              <div class="p-3 rounded-full group-hover:scale-110 transition-transform">
                <ViewIcon class="size-8 text-info"  />
              </div>
              <span class="font-bold uppercase tracking-tighter text-sm text-info">Ver {pluralActionLabel}</span>
            </button>
          </div>
    </Modal>
    )
})}

<!--Agregar Carpeta / Formulario -->
<Modal id="modal_carpet">
  <div class="flex flex-col gap-6">
    <div class="space-y-1 text-center">
      <p class="text-gray-400 text-sm text-left">Gestión de carpetas fiscales y policiales.</p>
      <div class="h-0.5 w-16 bg-police/50"></div>
    </div>

    <button class="cursor-pointer group flex flex-col items-center justify-center p-6 rounded-xl border-2 border-warning/30 bg-warning/5 hover:bg-warning/10 hover:border-warning transition-all duration-300 gap-3">
      <div class="p-3 rounded-full bg-warning/20 group-hover:scale-110 transition-transform">
        <AddIcon class="size-8 text-warning"/>
      </div>
      <span class="font-bold uppercase tracking-tighter text-sm text-warning">Nueva Carpeta</span>
    </button>

    <button class="group flex flex-col items-center justify-center p-6 rounded-xl border-2 border-error/30 bg-error/5 hover:bg-error/10 hover:border-error transition-all duration-300 gap-3">
      <div class="p-3 rounded-full bg-error/20 group-hover:scale-110 transition-transform">
        <ViewIcon class="size-8 text-error" />
      </div>
      <span class="font-bold uppercase tracking-tighter text-sm text-error">Eliminar Carpeta</span>
    </button>
  </div>
</Modal>

{/* Modales secundarios para Agregar/Eliminar */}
{ACTIONS.map(({ id, firstInput, firstExample, secondInput, secondExample, placeholder }) => {
  const isProcedencia = id === "modal_procedencia";
  const isInstructor = id === "modal_instructor";
  const actionLabel = isProcedencia ? "Procedencia" : isInstructor ? "Instructor" : "Fiscal";
  const pluralActionLabel = isProcedencia ? "Procedencias" : isInstructor ? "Instructores" : "Fiscales";
  
  return (
    <>
      {/* Modal para Agregar */}
      <Modal id={`${id}_add`}>
        <h2 class="text-2xl font-bold text-success">Agregar {actionLabel}</h2>
        <form class="flex flex-col">
          
          <div class="flex flex-col">
            <label for={`new_short_${actionLabel.toLowerCase()}`} class="text-gray-400 text-base font-bold mt-4">{firstInput}</label>
            <label for={`new_short_${actionLabel.toLowerCase()}`} class="text-gray-400 text-xs">{(firstExample)}</label>
              <input 
                type="text" 
                name={`new_short_${actionLabel.toLowerCase()}`}
                id={`new_short_${actionLabel.toLowerCase()}`}
                class="input input-bordered input-lg w-full bg-tactical-dark/50 border-success/30 focus:outline-none text-white text-base mt-2" 
                placeholder={`${placeholder}`}
                required
              />
            <label for={`new_${actionLabel.toLowerCase()}`} class="text-gray-400 text-base font-bold mt-2">{secondInput}</label>
            <label for={`new_${actionLabel.toLowerCase()}`} class="text-gray-400 text-xs">{(secondExample)}</label>
              {isProcedencia ? (
                <input type="text" name={`new_${actionLabel.toLowerCase()}`} id={`new_${actionLabel.toLowerCase()}`}class="input input-bordered input-lg w-full bg-tactical-dark/50 border-success/30 focus:outline-none text-white text-base mt-2" 
                  placeholder={`Escribe la ${actionLabel.toLowerCase()} aquí...`}
                  required
                />
                ) : isInstructor ? (                              
                    <select name={`new_${actionLabel.toLowerCase()}`} id={`new_${actionLabel.toLowerCase()}`} class="select select-bordered select-lg w-full bg-tactical-dark/50 border-success/30 focus:outline-none text-white/60 text-base mt-2">
                      <option disabled selected hidden value="" class="text-white/60 bg-tactical-dark">-Seleccione el grado-</option>
                      {listGrades.map((grade) => (
                        <option value={grade.nameGrade} class="bg-tactical-dark text-white/60">{grade.nameGrade}</option>
                      ))}
                    </select>
                ) : (
                  <select name={`new_${actionLabel.toLowerCase()}`} id={`new_${actionLabel.toLowerCase()}`} class="select select-bordered select-lg w-full bg-tactical-dark/50 border-success/30 text-white/60 text-base mt-2 focus:outline-none focus:bg-tactical-dark valid:bg-tactical-dark">     
                    <option disabled selected hidden value="" class="text-white/60 bg-tactical-dark">-Seleccione el genero-</option>
                    {listGenre.map((genre) => (
                      <option value={genre.name} class="bg-tactical-dark text-white/60">{genre.name}</option>
                    ))}
                  </select>
                )}
          </div>

          <div class="flex gap-3 justify-end mt-4">
            <button type="button" class="btn btn-ghost text-gray-400" onclick="this.closest('dialog').close()">
              Cancelar
            </button>
            <button type="submit" class="btn btn-success">
              <AddIcon class="size-4" />
              Agregar
            </button>
          </div>
        </form>
      </Modal>

      {/* Modal de Listados */}
      <Modal id={`${id}_view`}>
        <h2 class="text-2xl font-bold text-info">Listado de {pluralActionLabel}</h2>
        <form class="flex flex-col gap-6">
          <div class="form-control">
            {isProcedencia ? listPrecedences.map((precedence) => (
                  <div class="flex items-center justify-between p-2">
                    <span class="flex flex-col">
                      <p>{precedence.namePrecedence}</p>
                      <p class="text-xs text-gray-400 text-left max-w-xs">{precedence.realNamePrecedence}</p>
                    </span>
                    <button type="button" class="btn btn-error btn-sm">
                      <DeleteIcon class="size-4" />                  
                    </button>
                  </div>
                ))
              : isInstructor ? listInstructors.map((instructor) => (
                  <div class="flex items-center justify-between p-2">
                    <span class="flex flex-col">
                      <p>{instructor.Grade.shortNameGrade}. PNP {instructor.Instructor.nameInstructor}</p>
                      <p class="text-xs text-gray-400 text-left max-w-xs">{instructor.Grade.nameGrade}</p>
                    </span>
                    <button type="button" class="btn btn-error btn-sm">
                      <DeleteIcon class="size-4" />                  
                    </button>
                  </div>
                ))
              : listFiscals.map((fiscal) => (
                  <div class="flex items-center justify-between p-2">
                    <span class="flex flex-col">
                      <p>{fiscal.nameFiscal}</p>
                      <p class="text-xs text-gray-400 text-left max-w-xs">{fiscal.genreFiscal}</p>
                    </span>
                    <button type="button" class="btn btn-error btn-sm">
                      <DeleteIcon class="size-4" />                  
                    </button>
                  </div>
                ))
            }
          </div>
        </form>
      </Modal>
    </>
  );
})}

<script>
  const setupModals = () => {
    const modalButtons = document.querySelectorAll('[data-target]');

    modalButtons.forEach(button => {
      button.addEventListener('click', (event) => {
        event.preventDefault();
        const targetId = button.getAttribute('data-target');
        if (!targetId) return;
        const modal = document.getElementById(targetId) as HTMLDialogElement;
        modal?.showModal();
      });
    });
  };

  window.addEventListener("keydown",(event) => {
      const activeModal = document.querySelector('dialog[open]') as HTMLDialogElement;
      
      if (event.key === "Escape" && activeModal) {
        event.preventDefault();
        event.stopImmediatePropagation();

        const activeElement = document.activeElement as HTMLInputElement | HTMLTextAreaElement;
        const isEditable = activeElement && (activeElement.tagName === "INPUT" || activeElement.tagName === "TEXTAREA");

        if (isEditable) {
          activeElement.value = "";
        }
      }
    },
    true, 
  );

  setupModals();
</script>